.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
}

.maxWidthWrapper {
  position: relative;
}

.header {
  width: 65%;
  padding-bottom: 64px;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
  min-height: 400px;
  width: 40%;
  position: fixed;
  top: 10%;
  left: 60%;
}

.controlColumn {
  width: 50%;
}

.backgroundEffect {
  position: fixed;
  bottom: 0;
  height: 40%;
  width: 100%;
  background-color: hsl(195deg, 20%, 86%);
}

@media (max-width: 760px) {
  .header {
    width: 100%;
  }

  .characterWrapper {
    width: 100%;
    position: static;
  }

  .controlColumn {
    width: 100%;
    white-space: nowrap;
  }
}
